@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico|Shrikhand');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./styles/greg-raines-63369-unsplash.jpg");
  background-size: 100%;
  
}

.App {
  width: 350px;
  height: 600px;
  text-align: left;
  background-color: rgb(248, 244, 244,0.6);
  padding: 40px;

}

.App-title {
  font-size: 70px;
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  color: fuchsia;
}

.App-roomlist {
  font-size: large;
  color: navy;
  font-family: Pacifico, cursive;
}

/* input[type="text"]{
  height: 20px;
  width: 200px;
} */

.currentUser{
  font-family: Pacifico, cursive;
  color:navy;
}
